<p>login works!</p>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
 <div>
   <p>
   <label>UserName:</label>
   <input name="userNameText"
   class="form-control"
    type="text"
    [(ngModel)]="userName"
    #userNameText="ngModel"
     required/>
  </p>
  <div  *ngIf="userNameText.invalid && (userNameText.dirty ||userNameText.touched)">
    <div *ngIf="userNameText.errors?.required">
      <output style="color: red;">Name is required</output>
    </div>

  </div>
 </div>
 <div>
 <p>
  <label>Password:</label>
  <input name="passwordText" #passwordText="ngModel" type="password" [(ngModel)]="password" required minlength="5" maxlength="10"/>
</p>
<div *ngIf="passwordText.invalid && (passwordText.dirty || passwordText.touched)">
  <div *ngIf="passwordText.errors?.required">
    <output>Password is Required</output>
  </div>
  <div *ngIf="passwordText.errors?.minlength">
    <output>Password muset be at least 5 charcters</output>
  </div>
  <div *ngIf="passwordText.errors?.maxlength">
    <output>Password cannot be more than 10 charcters</output>
  </div>
</div>
</div>
<p>

  <input type="submit" [disabled]="!loginForm.valid"/>
</p>

</form>
